* {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    display: block;
    width: 100%;
    margin: auto;
    opacity: 0;
}

.wrapper-inner {
    width: 1190px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

/************** menu ***************/

nav {
    background: #415e89;
    padding: 15px 0;
}

nav .wrapper-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;
}

.menu-right {
    display: flex;
    align-items: center;
}

nav li a,
nav li span {
    margin: 15px 0;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    transition: .4s;
}

nav li a:hover,
nav li span:hover {
    color: #48d5ff;
}

.menu-left li a:active {
    transform: translateY(2px);
}

nav li a img {
    margin-right: 6px;
}

a.language {
    text-transform: none;
    text-decoration: underline;
    margin: 0 0 0 15px;
    font-size: 14px;
    color: #cbcbcb;
    transition: .4s;
}

a.language:hover {
    filter: brightness(150%);
    color: #cbcbcb;
}

/********** dropdown list ************/

.js-dropdown {
    cursor: pointer;
}

.wrapper-dropdown {
    position: relative;
}

.wrapper-dropdown ul {
    display: block;
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
    z-index: 1;
    width: 130px;
    height: auto;
    padding: 5px 5px 10px 10px;
    background: #fff;
    border: 1px solid #415e89;
}

.wrapper-dropdown ul {
    display: none;
}

.wrapper-dropdown ul li a {
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 9px;
    color: #000;
    cursor: pointer;
    transition: .2s;
}

.wrapper-dropdown ul li a:hover {
    color: #0096dc;
}

.wrapper-dropdown ul::before {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    right: 25px;
    top: -5px;
    transform: rotate(45deg);
    border-top: 1px solid #415e89;
    border-left: 1px solid #415e89;
    background: #fff;
}
.wrapper-dropdown ul::after {
    border-bottom: 8px solid white;
    bottom: 124px;
}

/**************** slider ******************/

.slide {
    position: relative;
    width: auto;
    height: 700px;
    overflow: hidden;
}

.slide img {
    display: block;
    margin: 0 auto;
}

.details {
    position: absolute;
    right: 0;
    left: -655px;
    bottom: 110px;
    margin: 0 auto;
    width: 470px;
    height: auto;
    max-height: 490px;
    overflow: hidden;
    padding: 25px 25px 50px 50px;
    background: rgba(65, 94, 137, .7);
}

.details span {
    font-size: 48px;
    color: #fff;
}

.details a {
    display: block;
    margin-top: 25px;
    font-size: 36px;
    color: #fff;
    transition: .4s;
}

.details a:hover {
    text-decoration: none;
}

.details a:active {
    transform: translateY(2px);
}

.slick-dots {
    display: inline-flex;
    justify-content: center;
    position: absolute;
    bottom: 32px;
    right: 0;
    left: 0;
    text-align: center;
}

.slick-dots li {
    margin: 0 10px 0;
}

.slick-dots li button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #43a1df;
    background: #7f7f7f;
    font-size: 0;
    color: transparent;
    cursor: pointer;
    transition: .4s;
}

.slick-dots li button:hover {
    border: 2px solid #48d5ff;
    background: #555;
}

.slick-dots li.slick-active button {
    background: #fff;
}

.slick-arrow {
    position: absolute;
    font-size: 0;
    background: none;
    color: transparent;
    border: none;
}

.slick-active,
a:focus,
button:active,
button:focus {
    outline: none;
}

/***** for all sections *****/

h2 {
    margin-bottom: 45px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: #808080;
}

section ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
}

section ul li {
    width: 170px;
    transition: .4s;
}

section ul li:active {
    transform: translateY(2px);
}

section {
    padding: 60px 0;
}

section ul li a span {
    display: block;
    margin-top: 30px;
}

section ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #0097dc;
    transition: .4s;
}

section ul li a:hover {
    filter: contrast(250%);
    color: #48d5ff;
}

/********** section "О КОМПАНИИ В ЦИФРАХ" **********/

section:nth-of-type(2) {
    background: #e9e9e9;
}

section:nth-of-type(2) ul li {
    width: 200px;
}

section:nth-of-type(2) ul li:nth-child(2) {
    width: 270px;
}

.amount-item {
    font-size: 60px;
    font-weight: bold;
    color: #0097dc;
    margin-bottom: 15px;
}

section:nth-of-type(2) span {
    font-size: 22px;
    color: #808080;
}

section:nth-of-type(2) ul li:hover {
    transform: none;
}

/****** section "ТРАНСПОРТ ДЛЯ ПЕРЕВОЗКИ ВАШИХ ГРУЗОВ" ******/

section:nth-of-type(3) ul li {
    width: 350px;
}

section:nth-of-type(3) ul li a {
    font-size: 24px;
}

[data-balloon]:after {
    background: rgba(0, 191, 255, .9)!important;
}

[data-balloon]:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba(0, 191, 255, .9)%22%20transform%3D%22rotate(0)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E")!important;
}

/****** section "НАШИ ПРЕИМУЩЕСТВА" ******/

section:nth-of-type(4) {
    background: #0096dc;
}

section:nth-of-type(4) h2 {
    color: #fff;
}

section:nth-of-type(4) ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
}

section:nth-of-type(4) li {
    display: flex;
    width: 500px;
    text-align: left;
}

/*** counter ***/

section:nth-of-type(4) ul {
    counter-reset: list;
}

section:nth-of-type(4) li::before {
    counter-increment: list;
    content: counter(list);
    display: inline-block;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: none;
    text-align: center;
    line-height: 74px;
    margin-right: 35px;
    font-size: 60px;
    font-weight: bold;
    background: #fff;
    color: #555;
    padding: 0 20px;
}

section:nth-of-type(4) li:nth-of-type(1),
section:nth-of-type(4) li:nth-of-type(2) {
    margin: 0 0 35px;
}

section:nth-of-type(4) li {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

/*******section "Транспортная компания «ФТС».." **********/

.about {
    position: relative;
    height: auto;
    padding: 60px 0 180px;
    font-size: 18px;
    color: #808080;
}

h1 {
    margin-bottom: 45px;
    text-align: center;
    font-size: 36px;
}

.about li:before {
    content: "-";
    margin-right: 6px;
}

.about li {
    margin: 10px 0;
}

.about li:last-child {
    margin-bottom: 60px;
}

.about button {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 530px;
    height: 118px;
    border-radius: 15px;
    border: none;
    text-transform: uppercase;
    font-size: 48px;
    background: #0096dc;
    color: #fff;
    cursor: pointer;
    box-shadow: 7px 7px 12px 2px rgba(0, 0, 0, .1),
                5px 5px 9px 0 rgba(0, 0, 0, .15);
    transition: .4s;
}

.about button:hover {
    background: #43a1df;
    box-shadow: inset -7px -7px 12px 2px rgba(0, 0, 0, .1),
                inset -5px -5px 9px 0 rgba(0, 0, 0, .2),
                7px 7px 12px 2px rgba(0, 0, 0, .1),
                5px 5px 9px 0 rgba(0, 0, 0, .15);
}

.about button:active {
    background: #0096dc;
    box-shadow: inset 0 0 12px 5px rgba(0, 0, 0, .1),
                inset 0 0 9px 0 rgba(0, 0, 0, .2);
    transform: translateY(2px);
}

/*********** modal ************/

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 101;
}

.modal-inner {
    position: relative;
    width: 707px;
    padding: 60px 40px 40px;
    background: #fff;
    border-radius: 5px;
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #94989a;
}

.form {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal-inner input {
    border: 1px solid #c1c6c9;
    -webkit-border-radius: 3px;
    font-size: 17px;
    padding: 15px;
}

.form label input {
    display: block;
    width: 88%;
    height: 46px;
    padding: 0 20px;
}

#submit {
    width: 153px;
    margin: 0 auto;
    border: transparent;
    color: #fff;
    background: url('../images/button-submit.png') no-repeat;
    transition: .4s;
    height: 46px;
}

#submit:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1),
                0 3px 15px 0 rgba(0,0,0,0.05);
}

#submit:active {
    transform: translateY(3px);
    filter: contrast(150%);
}

.form label,
.custom-select {
    display: block;
    width: 47.5%;
}

.custom-select {
    margin: 20px 0 30px;
    position: relative;
    border: 1px solid #c1c6c9;
    height: 46px;
    border-radius: 3px;
}

.current-value {
    line-height: 46px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    padding: 0 50px 0 20px;
    color: #585858;
}

.current-value:before {
    content: '';
    width: 1px;
    height: 100%;
    right: 120px;
    top: 0;
    position: absolute;
    background: #c1c6c9;
}

.current-value:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #8aa646;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 90px;
    transition: .4s;
}

.custom-select input {
    display: none;
}

.custom-select ul {
    display: none;
    width: calc(100% - 40px);
    border-radius: 3px;
    background: #fff;
    border: 1px solid #c1c6c9;
    padding: 10px 20px;
    position: absolute;
    left: -1px;
    top: 100%;
    z-index: 1;
}

.custom-select ul li {
    display: block;
    padding: 7px 15px 7px 0;
    border-bottom: 1px solid #c1c6c9;
    color: #585858;
    cursor: pointer;
}

.custom-select ul li.active {
    color: #0096dc;
}

.custom-select ul li:last-child {
    border: none;
}

.custom-select.active ul {
    display: block;
}

.custom-select.active .current-value:after {
    transform: rotate(180deg);
}

input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input:focus {
    box-shadow: 0 0 0 1px #969696;
    border: none;
    outline: none;
}

input[type=submit]:active {
    box-shadow: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #585858;
}

/*************** footer **************/

footer {
    background: #a7a7a7;
    padding: 30px 0;
    font-size: 14px;
}

footer span,
footer address {
    font-size: 14px;
    color: #3f3e3e;
    font-style: normal;
    line-height: 1.3;
}

address a {
    text-decoration: none;
    color: #3f3e3e;
    transition: .4s;
}

address a:hover {
    color: #0096dc;
}

address a:last-child {
    text-decoration: underline;
}

/********* Кнопка вверх **********/

.up {
    position: fixed;
    bottom: 15px;
    right: 30px;
    opacity: .7;
    cursor: pointer;
    transition: .4s;
}

.up:hover {
    opacity: 1;
}